﻿<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        @*-fluid*@
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("រ៉ូសឡានីអាផាតម៉ិន", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("MANAGE BOOKING"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">តម្លើង <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Staff")">បុគ្គលិក</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Guest")">ភ្ញៀវ</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "CheckIn")">សម្ភារៈប្រើប្រាស់</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Room")">បន្ទប់</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Floor")">ជាន់</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Staffs")">ស្ថានភាពបន្ទប់</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "CheckIn")">ផាកពិន័យ</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "BeginingBalance")">តម្លៃទឺក</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "UserUse")">តម្លៃភ្លើង</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Staffs")">អត្រាប្តូរប្រាក់</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ប្រត្តិបត្តការណ៍ <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Booking")">កក់</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "UserUse")">ចូលស្នាក់នៅ</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Staffs")">រើចេញ</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "UserUse")">បង់ប្រាក់ប្រចាំខែ</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Staffs")">ប្រមូលប្រាក់ប្រចាំខែ</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">គណនេយ្យ <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "UserUse")">ចំណាយផ្សេងៗ</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Staffs")">ចំណាយផ្សេងៗ</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">របាយការណ៍ <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "UserUse")">បុគ្គលិក</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Staffs")">ភ្ញៀវ</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "UserUse")">បន្ទប់</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Staffs")">ជាន់</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "UserUse")">សម្ភារៈប្រើប្រាស់</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Staffs")">ស្ថានភាពបន្ទប់</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "UserUse")">ចំណូលប្រចាំខែ</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Staffs")">ចំណាយប្រចាំខែ</a>
                                </li>
                            </ul>
                        </li>
                    }
                    if (User.IsInRole("MANAGE USER"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                គ្រប់គ្រង់អ្នកប្រើប្រាស់ <span class="glyphicon glyphicon-menu-down">
                               </span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("អ្នកប្រើប្រាស់", "Index", "UserRoles")</li>
                                <li>@Html.ActionLink("បង្កើតថ្មី", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            </ul>
                        </li>                
                    }
                 }
            </ul>

            @Html.Partial("_LoginPartial")

        </div>
    </div>
</div>