﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="BuildingModal" tabindex="-1" role="dialog" aria-labelledby="BuildingModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">បិទ</button>
                <b class="modal-title" style="color: darkblue;">Building</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input id="Floorid" name="Floorid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="form-group">
                            <label for="buildingname">Buildin Name</label>
                            <input id="buildingname" name="buildingname" placeholder="Enter Floor No" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input id="Floorid" name="Floorid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="form-group">
                            <label for="buildingnamekh">Buildin Name Khmer</label>
                            <input id="buildingnamekh" name="buildingnamekh" placeholder="Enter Floor No" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnSaveBuilding" onclick="BuildingAction()" class="btn btn-info btn-block btn-sm">Add New</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tableBuilding">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Building</th>
                                    <th>Buildin Khmer</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>





