﻿<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="invoiceModel" tabindex="-1" role="dialog" aria-labelledby="invoiceModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>

                <b class="modal-title" style="color:darkblue">Manage Invoice</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" hidden value="" />
                        <input id="id" name="id" type="text" value="" class="form-control input-sm hidden" placeholder="Enter Id" />
                        <input id="idnoformat" name="id" type="text" value="" class="form-control input-sm hidden" placeholder="Enter Id" />

                        <div class="form-group">
                            <label for="invoiceno">លេខវិក្ក័យបត្រ</label>
                            <input id="invoiceno" name="invoiceno" type="text" value="" class="form-control input-sm" placeholder="Enter InvoiceNo" />
                        </div>

                        <div class="form-group">
                            <label for="date">ថ្ងៃខែឆ្នាំ</label>
                            <input id="date" name="date" type="date" value="" class="form-control input-sm" placeholder="Enter Payment Date" />
                        </div>

                        <div class="form-group">
                            <label for="customerid">អតិថិជន</label>
                            <select class="form-control input-sm selectpicker" id="customerid" data-style="btn-dark" data-hide-disabled="true" data-live-search="true">
                                @foreach (var stu in Model.Customers)
                                {
                                    <option value=@stu.Id>@stu.name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="showroomid">សាខា</label>
                            <select class="form-control input-sm selectpicker" id="showroomid" data-style="btn-dark" data-hide-disabled="true" data-live-search="true">
                                @foreach (var stu in Model.Showrooms)
                                {
                                    <option value=@stu.id>@stu.name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <span>អត្រាប្តូរប្រាក់</span> : 1 <span>$</span> = <label id="examount"></label><span> រៀល</span>
                            <input type="hidden" id="exid" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="totalamount">ប្រាក់ទទួលបាន</label>
                            <input id="totalamount" name="totalamount" type="number" value="" class="form-control input-sm" placeholder="Enter Amount" />

                        </div>
                        <div class="form-group">
                            <label for="totalshipprice">សាវាឡាន</label>
                            <input id="totalshipprice" name="totalshipprice" type="number" value="0" class="form-control input-sm" placeholder="Enter Ship Price" />

                        </div>
                        <div class="form-group">
                            <label for="totalcarprice">សេវាដឹក</label>
                            <input id="totalcarprice" name="totalcarprice" type="number" value="0" class="form-control input-sm" placeholder="Enter Car Price" />

                        </div>
                        <div class="form-group">
                            <label for="alreadypaid">ប្រាក់ទូរទាត់</label>
                            <input id="alreadypaid" name="alreadypaid" type="number" value="0" class="form-control input-sm" placeholder="Already Paid" />
                            <br />
                            <button type="button" id="btnInvoicepaid" onclick="InvoicePaid();" class="btn btn-info btn-block btn-sm">គណនាប្រាក់ទូរទាត់</button>
                            
                        </div>
                        <div class="form-group">
                            <label for="paid">បានទូរទាត់រួច</label>
                            <input id="paid" name="paid" type="checkbox" value="" class="form-control-new input-sm" />

                        </div>
                        <hr />
                        <div class="form-group">
                            <button type="button" id="btnInvoice" onclick="InvoiceAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>



